#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #17182f;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.intro {
    color: #fff;
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 40%;
    left: 120px;
    width: 50%;
}

.intro-header {
    font-weight: 300;
    font-size: 3.5em;
    line-height: 67px;
    letter-spacing: 0;
}

.intro-info {
    font-size: 23px;
    line-height: 34px;
    font-weight: 300px;
    opacity: 0.7;
}

.intro-icon {
    background: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #fff solid 2px;
    text-align: center;
    line-height: 50px;
    opacity: 0.7;
}

.intro-buttons {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.intro-button {
    background-color: transparent;
    color: #e6e4ec;
    border: 1px solid rgba(238,232,255,0.57);
    transition: background-color 0.3s ease, color 0.3s ease;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0.85em 2em 0.83em;
}

/*
.header-content {
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100%;

}
*/

h1 {
    color: white;
}
