body {
    font-family: 'PT Sans', sans-serif;
}

.introduction {
    background-image: url('../img/background.jpg');
    background-size: contain;
    display: table;
    height: 100vh;
    width: 100%;
}

.introduction-content-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.introduction-content {
    color: #ffffff;
    display: inline-block;
}

.img-profile {
    border: 10px solid rgba(255, 255, 255, .6);
    border-radius: 50%;
    height: 35%;
    width: 35%;
}

h1 {
    font-size: 80px;
}

.hr-intro {
    border: none;
    height: 3px;
    width: 60%;
    background-color: #ffffff;
}

.btn-intro {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 70px;
}

.btn-intro:hover {
    font-size: 75px;
}

p {
    font-size: 18px;
}

.i-section {
    font-size: 70px;
}

.div-border-right {
    border-right: 1px solid #000000;

}

.section-icon {
    padding: 15px;
}

.section-header2 {
    font-weight: bold;
    padding: 15px;
}

.section-bold-header {
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
}

.section-hr {
    border: none;
    height: 1px;
    background-color: #000000;
}

.section-padded {
    padding-top: 10vh;
}

.section-header {
    margin-top: 40px;
    margin-bottom: 40px
}

.section-name {
    color: #ff6c37;
}

.terminal {
    font-family: 'Ubuntu', sans-serif;
}

.terminal-header {
    background-color: #3C3839;
    border-radius: 5px 5px 0px 0px;
    color: white;
}

.terminal-icon {
    color: #878982;
}

.terminal-header-text {
    margin-left: 5px;
}

.terminal-body {
    background-color: #300924;
    border: 2px solid #7A5566;
    border-top: none;
    padding-bottom: 1vh;
}
.terminal-body-user {
    color: #76B940;
    font-weight: bold;
    margin-left: 5px;
}

.terminal-body-command {
    color: #ffffff;
}